# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Raw data
data/raw/

# Processed data (exclude large files)
data/processed/

# Spark artifacts
spark-warehouse/

# Model outputs
*.parquet
*.csv

# Logs
*.log
